In [14]:
import pandas as pd

# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------

In [31]:
import mysql.connector
from mysql.connector import Error
# Función para conectar con MySQL y crear la base de datos y tablas
def create_database_and_tables():
    try:
        # Conectar al servidor de MySQL (sin base de datos específica, para poder crear una nueva)
        connection = mysql.connector.connect(
            host='127.0.0.1',        # Cambia esto si tu servidor no está local
            user='root',             # Tu usuario de MySQL (usualmente 'root' en local)
            password='AlumnaAdalab' # Tu contraseña de MySQL
        )
        if connection.is_connected():
            print("Conexión exitosa al servidor MySQL")
            # Crear un cursor para ejecutar sentencias SQL
            cursor = connection.cursor()
            # Crear la base de datos
            cursor.execute("CREATE DATABASE IF NOT EXISTS employee_db")
            print("Base de datos 'employee_db' creada o ya existe.")
            # Seleccionar la base de datos recién creada
            cursor.execute("USE employee_db")
            # Crear las tablas
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS employees (
                employee_number INT PRIMARY KEY,
                age INT,
                gender VARCHAR(10),
                education VARCHAR(50),
                education_field VARCHAR(50),
                job_role VARCHAR(50),
                job_level INT,
                marital_status VARCHAR(50),
                monthly_income DECIMAL(10, 2),
                salary DECIMAL(10, 2),
                remote_work VARCHAR(10)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS performance_and_satisfaction (
                employee_number INT,
                job_satisfaction INT,
                performance_rating INT,
                environment_satisfaction INT,
                relationship_satisfaction INT,
                work_life_balance VARCHAR(15),
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS employment_and_experience (
                employee_number INT,
                years_at_company INT,
                years_since_last_promotion INT,
                years_with_curr_manager INT,
                total_working_years INT,
                num_companies_worked INT,
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS work_conditions (
                employee_number INT,
                daily_rate DECIMAL(10, 2),
                distance_from_home DECIMAL(10, 2),
                overtime VARCHAR(10),
                standard_hours INT,
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS business_travel (
                employee_number INT,
                business_travel VARCHAR(50),
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS salary_hike (
                employee_number INT,
                percent_salary_hike DECIMAL(5, 2),
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS job_involvement (
                employee_number INT,
                job_involvement INT,
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            cursor.execute("""
            CREATE TABLE IF NOT EXISTS company_and_stock_options (
                employee_number INT,
                num_companies_worked INT,
                stock_option_level INT,
                FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
            );
            """)
            print("Todas las tablas han sido creadas exitosamente.")
    except Error as e:
        print("Error al conectar con MySQL:", e)
    finally:
        if connection.is_connected():
            # Cerrar la conexión
            cursor.close()
            connection.close()
            print("Conexión cerrada.")
# Llamada a la función
create_database_and_tables()

Conexión exitosa al servidor MySQL
Base de datos 'employee_db' creada o ya existe.
Todas las tablas han sido creadas exitosamente.
Conexión cerrada.

In [32]:
df_final= pd.read_csv("df_final.csv") 
df_final.head()

,Unnamed: 0,age,attrition,business_travel,daily_rate,distance_from_home,education,education_field,employee_number,environment_satisfaction,...,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,salary,remote_work
0,0,51,No,Unknown,2015.722222,6,3,Unknown,1,1,...,Full Time,0,Unknown,5,3.0,20,15,15,195370.00,Y
1,1,52,No,Unknown,2063.388889,1,4,life sciences,2,3,...,Unknown,1,34.0,5,3.0,33,11,9,199990.00,Y
2,2,42,No,travel_rarely,1984.253968,4,2,technical degree,3,3,...,Unknown,0,22.0,3,Unknown,22,11,15,192320.00,Y
3,3,47,No,travel_rarely,1771.404762,2,4,medical,4,1,...,Full Time,2,Unknown,2,Unknown,20,5,6,171690.00,N
4,4,46,No,Unknown,1582.771346,3,3,technical degree,5,1,...,Unknown,1,Unknown,5,3.0,19,2,8,153407.04,N

In [11]:
df_final.columns

Index(['Unnamed: 0', 'age', 'attrition', 'business_travel', 'daily_rate',
       'distance_from_home', 'education', 'education_field', 'employee_number',
       'environment_satisfaction', 'gender', 'job_involvement', 'job_level',
       'job_role', 'job_satisfaction', 'marital_status', 'monthly_income',
       'monthly_rate', 'num_companies_worked', 'overtime',
       'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'standard_hours', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'salary', 'remote_work'],
      dtype='object')

In [14]:
# Creamos la función 'cargar datos' para insertar los datos en las tablas de la base de datos

def cargar_datos (user, password, host, bbdd, query, lista_tuplas):
    cnx = mysql.connector.connect(user=user, password=password, host=host, database=bbdd)
    mycursor = cnx.cursor()
    try:
          mycursor = cnx.cursor()
          mycursor.executemany(query, datos_tabla_employees)
          cnx.commit()
          print(mycursor.rowcount, "row/s inserted successfully")
          cnx.close()
    except mysql.connector.Error as err:
          print(err)
          print("Error Code:", err.errno)
          print("SQLSTATE", err.sqlstate)
          print("Message", err.msg)
          cnx.close()

In [33]:
df_employees = df_final[['employee_number', 'age', 'gender', 'education', 
                         'education_field', 'job_role', 'job_level', 
                         'marital_status', 'monthly_income', 'salary', 'remote_work']]


df_performance_and_satisfaction = df_final[['employee_number', 'job_satisfaction', 'performance_rating', 'environment_satisfaction', 
                         'relationship_satisfaction', 'work_life_balance']]

df_employment_and_experience = df_final[['employee_number', 'years_at_company', 'years_since_last_promotion', 'years_with_curr_manager', 
                         'total_working_years', 'num_companies_worked']]

df_work_conditions = df_final[['employee_number', 'daily_rate', 'distance_from_home', 'overtime', 
                         'standard_hours']]

df_business_travel= df_final[['employee_number', 'business_travel']]

df_salary_hike = df_final[['employee_number', 'percent_salary_hike']]

df_job_involvement = df_final[['employee_number', 'job_involvement']]

df_company_and_stock_options = df_final[['employee_number', 'num_companies_worked', 'stock_option_level']]

In [30]:
df_performance_and_satisfaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_number            1614 non-null   int64
 1   job_satisfaction           1614 non-null   int64
 2   performance_rating         1614 non-null   float64
 3   environment_satisfaction   1614 non-null   int64
 4   relationship_satisfaction  1614 non-null   int64
 5   work_life_balance          1614 non-null   object
dtypes: float64(1), int64(4), object(1)
memory usage: 75.8+ KB

In [35]:
import mysql.connector
from mysql.connector import Error

try:
    # Conexión a la base de datos
    connection = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',
        database='employee_db'
    )
    
    if connection.is_connected():
        print("Conexión exitosa a la base de datos")
        cursor = connection.cursor()

        # Consulta de inserción
        query = """
            INSERT INTO employees (
                employee_number, age, gender, education, education_field, 
                job_role, job_level, marital_status, monthly_income, salary, remote_work
            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """
        query = """
            INSERT INTO performance_and_satisfaction (
                employee_number, job_satisfaction, performance_rating, environment_satisfaction, 
                         relationship_satisfaction, work_life_balance
            ) VALUES (%s, %s, %s, %s, %s, %s);
        """

        query = """
            INSERT INTO employment_and_experience (
                employee_number, years_at_company, years_since_last_promotion, years_with_curr_manager, 
                         total_working_years, num_companies_worked
            ) VALUES (%s, %s, %s, %s, %s, %s);
        """
        query = """
            INSERT INTO work_conditions (
                employee_number, daily_rate, distance_from_home, overtime, 
                         standard_hours
            ) VALUES (%s, %s, %s, %s, %s);
        """

        query = """
            INSERT INTO business_travel (
                employee_number, business_travel
            ) VALUES (%s, %s);
        """

        query = """
            INSERT INTO salary_hike (
                employee_number, percent_salary_hike
            ) VALUES (%s, %s);
        """

        query = """
            INSERT INTO job_involvement (
                employee_number, job_involvement
            ) VALUES (%s, %s);
        """

        
        query = """
            INSERT INTO company_and_stock_options (
                employee_number, num_companies_worked, stock_option_level
            ) VALUES (%s, %s, %s);
        """

     
       # Convertir filas del DataFrame a tuplas y ejecutarlas
        rows_as_tuples = [tuple(row) for row in df_employees.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_performance_and_satisfaction.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_employment_and_experience.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_work_conditions.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_business_travel.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_salary_hike.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_job_involvement.itertuples(index=False)]
        rows_as_tuples = [tuple(row) for row in df_company_and_stock_options.itertuples(index=False)]

        # Usar executemany para insertar múltiples filas de una vez
        cursor.executemany(query, rows_as_tuples)
        connection.commit()
        
        print(f"Se insertaron {cursor.rowcount} filas correctamente.")
except Error as e:
    print("Error al conectar o insertar en la base de datos:", e)
finally:
    if connection.is_connected():
        cursor.close()
        #connection.close()
        #print("Conexión cerrada.")

Conexión exitosa a la base de datos
Se insertaron 1614 filas correctamente.

In [34]:
import mysql.connector
from mysql.connector import Error

try:
    # Conexión a la base de datos
    connection = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',
        database='employee_db'
    )
    
    if connection.is_connected():
        print("Conexión exitosa a la base de datos")
        cursor = connection.cursor()

        # Consulta de inserción
        query = """
            INSERT INTO employees (
                employee_number, age, gender, education, education_field, 
                job_role, job_level, marital_status, monthly_income, salary, remote_work
            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """
    
        # Convertir filas del DataFrame a tuplas y ejecutarlas
        rows_as_tuples = [tuple(row) for row in df_employees.itertuples(index=False)]
        
        # Usar executemany para insertar múltiples filas de una vez
        cursor.executemany(query, rows_as_tuples)
        connection.commit()
        
        print(f"Se insertaron {cursor.rowcount} filas correctamente.")
except Error as e:
    print("Error al conectar o insertar en la base de datos:", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión cerrada.")

Conexión exitosa a la base de datos
Se insertaron 1614 filas correctamente.
Conexión cerrada.

In [29]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database = "employee_db")

connection = cnx.cursor()


for index, row in df_performance_and_satisfaction.iterrows():
    sql_query = "INSERT INTO performance_and_satisfaction (employee_number, job_satisfaction, performance_rating, environment_satisfaction,relationship_satisfaction, work_life_balance) VALUES (%s, %s, %s, %s, %s, %s);"
    valores = (row['employee_number'], row['job_satisfaction'], row['performance_rating'], row['environment_satisfaction'], row['relationship_satisfaction'], row['work_life_balance'])
    
    print(valores) 

       
    
    try:
        connection.execute(sql_query,valores)
    
        cnx.commit()
        print(connection.rowcount, "registros insertados.")
    except mysql.connector.Error as err:
        print("Error:", err)
        print("Error Code:", err.errno)
        print("SQLSTATE:", err.sqlstate)
        print("Message:", err.msg)

(1, 3, 3.0, 1, 3, '3.0')
1 registros insertados.
(2, 3, 3.0, 3, 1, '3.0')
1 registros insertados.
(3, 4, 3.0, 3, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(4, 3, 3.0, 1, 2, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(5, 1, 3.0, 1, 4, '3.0')
1 registros insertados.
(6, 4, 3.0, 4, 2, '3.0')
1 registros insertados.
(7, 1, 3.0, 1, 4, '2.0')
1 registros insertados.
(8, 3, 4.0, 2, 3, '3.0')
1 registros insertados.
(9, 1, 3.0, 2, 2, '3.0')
1 registros insertados.
(10, 3, 3.0, 1, 2, '4.0')
1 registros insertados.
(11, 3, 4.0, 2, 2, '3.0')
1 registros insertados.
(12, 2, 3.0, 4, 1, '3.0')
1 registros insertados.
(13, 3, 3.0, 2, 1, '3.0')
1 registros insertados.
(14, 3, 3.0, 2, 4, '3.0')
1 registros insertados.
(15, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(16, 3, 3.0, 3, 4, '3.0')
1 registros insertados.
(17, 2, 3.0, 4, 4, '3.0')
1 registros insertados.
(18, 1, 4.0, 3, 1, '3.0')
1 registros insertados.
(19, 1, 3.0, 2, 4, '3.0')
1 registros insertados.
(20, 3, 3.0, 1, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(21, 3, 4.0, 3, 4, '2.0')
1 registros insertados.
(22, 4, 3.0, 1, 3, '3.0')
1 registros insertados.
(23, 3, 3.0, 3, 2, '3.0')
1 registros insertados.
(24, 4, 3.0, 3, 3, '2.0')
1 registros insertados.
(25, 4, 3.0, 42, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(26, 3, 4.0, 4, 2, '3.0')
1 registros insertados.
(27, 4, 3.0, 1, 4, '3.0')
1 registros insertados.
(28, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(29, 3, 3.0, 2, 2, '3.0')
1 registros insertados.
(30, 3, 3.0, 4, 3, '3.0')
1 registros insertados.
(31, 3, 3.0, 37, 4, '4.0')
1 registros insertados.
(32, 3, 4.0, 1, 2, '3.0')
1 registros insertados.
(33, 3, 3.0, 3, 4, '2.0')
1 registros insertados.
(34, 1, 3.0, 3, 2, '3.0')
1 registros insertados.
(35, 3, 3.0, 1, 3, '3.0')
1 registros insertados.
(36, 1, 4.0, 2, 3, '3.0')
1 registros insertados.
(37, 4, 4.0, 4, 3, '3.0')
1 registros insertados.
(38, 4, 3.0, 4, 3, '3.0')
1 registros insertados.
(39, 1, 3.0, 3, 4, '4.0')
1 registros insertados.
(40, 1, 4.0, 4, 3, '3.0')
1 registros insertados.
(41, 3, 3.0, 3, 3, '3.0')
1 registros insertados.
(42, 1, 3.0, 35, 3, '3.0')
1 registros insertados.
(43, 3, 3.0, 3, 3, '4.0')
1 registros insertados.
(44, 1, 3.0, 3, 3, '3.0')
1 registros insertados.
(45, 1, 4.0, 4, 1, '3.0')
1 registros insertados.
(46, 2, 3.0, 4, 1, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(47, 1, 4.0, 1, 3, '2.0')
1 registros insertados.
(48, 4, 3.0, 3, 4, '4.0')
1 registros insertados.
(49, 4, 3.0, 4, 2, '3.0')
1 registros insertados.
(50, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(51, 1, 3.0, 4, 2, '3.0')
1 registros insertados.
(52, 2, 3.0, 3, 4, '4.0')
1 registros insertados.
(53, 1, 3.0, 4, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(54, 3, 3.0, 1, 4, '3.0')
1 registros insertados.
(55, 3, 3.0, 3, 1, '2.0')
1 registros insertados.
(56, 4, 4.0, 4, 1, '2.0')
1 registros insertados.
(57, 4, 3.0, 2, 4, '3.0')
1 registros insertados.
(58, 1, 3.0, 3, 3, '2.0')
1 registros insertados.
(59, 3, 3.0, 4, 3, '4.0')
1 registros insertados.
(60, 4, 3.0, 3, 1, '2.0')
1 registros insertados.
(61, 2, 3.0, 4, 4, '4.0')
1 registros insertados.
(62, 3, 3.0, 2, 1, '3.0')
1 registros insertados.
(63, 4, 3.0, 2, 2, '3.0')
1 registros insertados.
(64, 4, 4.0, 3, 3, '1.0')
1 registros insertados.
(65, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(66, 3, 3.0, 3, 2, '3.0')
1 registros insertados.
(67, 4, 3.0, 4, 3, '3.0')
1 registros insertados.
(68, 4, 4.0, 4, 2, '3.0')
1 registros insertados.
(69, 3, 4.0, 25, 2, '3.0')
1 registros insertados.
(70, 4, 3.0, 3, 4, '4.0')
1 registros insertados.
(71, 3, 3.0, 3, 4, '3.0')
1 registros insertados.
(72, 1, 3.0, 4, 3, '3.0')
1 registros insertados.
(73, 3, 3.0, 3, 2, '3.0')
1 registros insertados.
(74, 4, 3.0, 4, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(75, 2, 3.0, 2, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(76, 2, 3.0, 3, 3, '3.0')
1 registros insertados.
(77, 2, 3.0, 4, 3, '3.0')
1 registros insertados.
(78, 4, 4.0, 3, 1, '3.0')
1 registros insertados.
(79, 4, 3.0, 3, 1, '3.0')
1 registros insertados.
(80, 3, 3.0, 4, 3, '2.0')
1 registros insertados.
(81, 1, 3.0, 3, 4, '3.0')
1 registros insertados.
(82, 4, 3.0, 4, 4, '2.0')
1 registros insertados.
(83, 3, 3.0, 1, 3, '2.0')
1 registros insertados.
(84, 4, 3.0, 2, 4, '3.0')
1 registros insertados.
(85, 1, 3.0, 4, 3, '3.0')
1 registros insertados.
(86, 2, 3.0, 4, 2, '3.0')
1 registros insertados.
(87, 4, 3.0, 3, 1, '2.0')
1 registros insertados.
(88, 4, 3.0, 3, 2, '3.0')
1 registros insertados.
(89, 2, 3.0, 1, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(90, 1, 3.0, 2, 2, '1.0')
1 registros insertados.
(91, 3, 3.0, 27, 2, '3.0')
1 registros insertados.
(92, 2, 3.0, 4, 1, '3.0')
1 registros insertados.
(93, 3, 3.0, 3, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(94, 3, 3.0, 3, 3, '2.0')
1 registros insertados.
(95, 4, 4.0, 1, 4, '3.0')
1 registros insertados.
(96, 3, 3.0, 2, 4, '3.0')
1 registros insertados.
(97, 4, 3.0, 1, 2, '3.0')
1 registros insertados.
(98, 2, 3.0, 3, 3, '2.0')
1 registros insertados.
(99, 2, 3.0, 1, 1, '3.0')
1 registros insertados.
(100, 2, 3.0, 27, 1, '2.0')
1 registros insertados.
(101, 3, 4.0, 2, 2, '3.0')
1 registros insertados.
(102, 3, 4.0, 3, 1, '3.0')
1 registros insertados.
(103, 4, 3.0, 2, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(104, 2, 3.0, 1, 4, '3.0')
1 registros insertados.
(105, 2, 3.0, 4, 4, '3.0')
1 registros insertados.
(106, 4, 3.0, 3, 2, '3.0')
1 registros insertados.
(107, 4, 3.0, 31, 3, '3.0')
1 registros insertados.
(108, 1, 3.0, 2, 3, '3.0')
1 registros insertados.
(109, 1, 3.0, 3, 3, '2.0')
1 registros insertados.
(110, 4, 3.0, 3, 4, '1.0')
1 registros insertados.
(111, 2, 3.0, 2, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(112, 4, 3.0, 2, 3, '3.0')
1 registros insertados.
(113, 1, 3.0, 3, 3, '3.0')
1 registros insertados.
(114, 3, 3.0, 4, 3, '2.0')
1 registros insertados.
(115, 2, 3.0, 2, 4, '1.0')
1 registros insertados.
(116, 1, 3.0, 39, 2, '3.0')
1 registros insertados.
(117, 2, 3.0, 3, 3, '2.0')
1 registros insertados.
(118, 1, 3.0, 1, 1, '3.0')
1 registros insertados.
(119, 1, 3.0, 3, 4, '3.0')
1 registros insertados.
(120, 3, 4.0, 3, 1, '3.0')
1 registros insertados.
(121, 4, 3.0, 3, 1, '3.0')
1 registros insertados.
(122, 4, 3.0, 4, 1, '3.0')
1 registros insertados.
(123, 3, 3.0, 4, 3, '3.0')
1 registros insertados.
(124, 4, 3.0, 3, 3, '2.0')
1 registros insertados.
(125, 4, 3.0, 1, 1, '3.0')
1 registros insertados.
(126, 3, 3.0, 2, 2, '3.0')
1 registros insertados.
(127, 2, 4.0, 1, 4, '3.0')
1 registros insertados.
(128, 3, 3.0, 2, 3, '3.0')
1 registros insertados.
(129, 1, 4.0, 4, 4, '2.0')
1 registros insertados.
(130, 1, 3.0, 4, 2, '3.0')
1 registros insertados.
(131, 3, 3.0, 4, 3, '3.0')
1 registros insertados.
(132, 4, 3.0, 2, 4, '2.0')
1 registros insertados.
(133, 4, 3.0, 4, 3, '2.0')
1 registros insertados.
(134, 3, 3.0, 3, 4, '4.0')
1 registros insertados.
(135, 4, 3.0, 4, 3, '3.0')
1 registros insertados.
(136, 2, 3.0, 1, 3, '2.0')
1 registros insertados.
(137, 4, 3.0, 21, 2, '3.0')
1 registros insertados.
(138, 3, 3.0, 3, 1, '2.0')
1 registros insertados.
(139, 3, 3.0, 1, 4, '3.0')
1 registros insertados.
(140, 4, 4.0, 1, 1, '3.0')
1 registros insertados.
(141, 1, 3.0, 15, 2, '2.0')
1 registros insertados.
(142, 1, 4.0, 4, 3, '3.0')
1 registros insertados.
(143, 2, 4.0, 4, 1, '3.0')
1 registros insertados.
(144, 4, 3.0, 4, 1, '3.0')
1 registros insertados.
(145, 1, 3.0, 3, 2, '3.0')
1 registros insertados.
(146, 2, 3.0, 2, 3, '3.0')
1 registros insertados.
(147, 2, 3.0, 4, 4, '3.0')
1 registros insertados.
(148, 1, 3.0, 3, 4, '2.0')
1 registros insertados.
(149, 2, 3.0, 3, 4, '4.0')
1 registros insertados.
(150, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(151, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(152, 2, 3.0, 3, 2, '3.0')
1 registros insertados.
(153, 1, 3.0, 14, 4, '2.0')
1 registros insertados.
(154, 4, 3.0, 4, 3, '3.0')
1 registros insertados.
(155, 1, 3.0, 2, 1, '2.0')
1 registros insertados.
(156, 1, 3.0, 4, 4, '3.0')
1 registros insertados.
(157, 4, 3.0, 1, 3, '3.0')
1 registros insertados.
(158, 3, 4.0, 2, 1, '2.0')
1 registros insertados.
(159, 2, 4.0, 1, 3, '4.0')
1 registros insertados.
(160, 4, 3.0, 2, 1, '3.0')
1 registros insertados.
(161, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(162, 1, 3.0, 2, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(163, 3, 3.0, 2, 4, '2.0')
1 registros insertados.
(164, 4, 4.0, 4, 1, '4.0')
1 registros insertados.
(165, 4, 3.0, 2, 2, '3.0')
1 registros insertados.
(166, 4, 3.0, 4, 1, '3.0')
1 registros insertados.
(167, 2, 4.0, 2, 4, '2.0')
1 registros insertados.
(168, 3, 3.0, 14, 1, '3.0')
1 registros insertados.
(169, 3, 3.0, 1, 2, '3.0')
1 registros insertados.
(170, 2, 3.0, 3, 1, '3.0')
1 registros insertados.
(171, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(172, 3, 3.0, 4, 1, '4.0')
1 registros insertados.
(173, 3, 3.0, 4, 4, '1.0')
1 registros insertados.
(174, 4, 3.0, 33, 1, '2.0')
1 registros insertados.
(175, 4, 3.0, 1, 3, '3.0')
1 registros insertados.
(176, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(177, 4, 4.0, 3, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(178, 1, 4.0, 2, 4, '2.0')
1 registros insertados.
(179, 4, 4.0, 1, 2, '3.0')
1 registros insertados.
(180, 4, 3.0, 4, 3, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(181, 4, 3.0, 3, 4, '3.0')
1 registros insertados.
(182, 2, 3.0, 3, 2, '2.0')
1 registros insertados.
(183, 3, 3.0, 2, 1, '3.0')
1 registros insertados.
(184, 2, 3.0, 3, 1, '3.0')
1 registros insertados.
(185, 4, 3.0, 2, 4, '3.0')
1 registros insertados.
(186, 3, 3.0, 1, 1, '3.0')
1 registros insertados.
(187, 3, 3.0, 4, 2, '3.0')
1 registros insertados.
(188, 4, 4.0, 1, 4, '3.0')
1 registros insertados.
(189, 4, 3.0, 4, 3, '2.0')
1 registros insertados.
(190, 3, 4.0, 3, 3, '3.0')
1 registros insertados.
(191, 4, 3.0, 2, 3, '3.0')
1 registros insertados.
(192, 4, 3.0, 1, 3, '3.0')
1 registros insertados.
(193, 4, 3.0, 1, 1, '3.0')
1 registros insertados.
(194, 2, 3.0, 2, 3, '3.0')
1 registros insertados.
(195, 3, 3.0, 4, 3, '2.0')
1 registros insertados.
(196, 2, 3.0, 1, 3, '3.0')
1 registros insertados.
(197, 4, 3.0, 4, 4, '3.0')
1 registros insertados.
(198, 3, 3.0, 2, 3, '3.0')
1 registros insertados.
(199, 1, 3.0, 1, 4, '1.0')
1 registros insertados.
(200, 1, 3.0, 3, 3, '3.0')
1 registros insertados.
(201, 2, 4.0, 3, 4, '4.0')
1 registros insertados.
(202, 1, 3.0, 1, 1, '3.0')
1 registros insertados.
(203, 3, 3.0, 4, 3, '3.0')
1 registros insertados.
(204, 4, 3.0, 1, 4, '3.0')
1 registros insertados.
(205, 2, 3.0, 2, 4, '2.0')
1 registros insertados.
(206, 4, 3.0, 3, 1, '4.0')
1 registros insertados.
(207, 4, 3.0, 3, 2, '3.0')
1 registros insertados.
(208, 1, 3.0, 1, 1, '3.0')
1 registros insertados.
(209, 4, 4.0, 3, 3, '3.0')
1 registros insertados.
(210, 2, 3.0, 2, 4, '3.0')
1 registros insertados.
(211, 4, 3.0, 3, 1, '2.0')
1 registros insertados.
(212, 3, 3.0, 4, 4, '2.0')
1 registros insertados.
(213, 3, 4.0, 3, 3, '3.0')
1 registros insertados.
(214, 4, 3.0, 4, 2, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(215, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(216, 1, 3.0, 4, 3, '3.0')
1 registros insertados.
(217, 4, 3.0, 4, 2, '2.0')
1 registros insertados.
(218, 2, 3.0, 4, 2, '3.0')
1 registros insertados.
(219, 1, 3.0, 4, 1, '1.0')
1 registros insertados.
(220, 4, 3.0, 2, 1, '3.0')
1 registros insertados.
(221, 4, 3.0, 4, 2, '2.0')
1 registros insertados.
(222, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(223, 2, 3.0, 3, 3, '4.0')
1 registros insertados.
(224, 4, 3.0, 3, 1, '3.0')
1 registros insertados.
(225, 3, 3.0, 4, 1, '2.0')
1 registros insertados.
(226, 3, 3.0, 3, 4, '2.0')
1 registros insertados.
(227, 4, 3.0, 3, 3, '3.0')
1 registros insertados.
(228, 1, 3.0, 3, 4, '4.0')
1 registros insertados.
(229, 1, 4.0, 4, 3, '3.0')
1 registros insertados.
(230, 2, 3.0, 3, 1, '3.0')
1 registros insertados.
(231, 2, 3.0, 4, 3, '3.0')
1 registros insertados.
(232, 2, 3.0, 4, 2, '2.0')
1 registros insertados.
(233, 1, 3.0, 2, 4, '2.0')
1 registros insertados.
(234, 2, 3.0, 4, 4, '1.0')
1 registros insertados.
(235, 4, 3.0, 1, 1, '3.0')
1 registros insertados.
(236, 4, 3.0, 4, 3, '1.0')
1 registros insertados.
(237, 2, 3.0, 1, 1, '3.0')
1 registros insertados.
(238, 1, 3.0, 2, 4, '3.0')
1 registros insertados.
(239, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(240, 3, 3.0, 2, 3, '3.0')
1 registros insertados.
(241, 3, 3.0, 3, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(242, 2, 3.0, 4, 3, '3.0')
1 registros insertados.
(243, 3, 4.0, 2, 3, '3.0')
1 registros insertados.
(244, 3, 3.0, 4, 2, '3.0')
1 registros insertados.
(245, 4, 3.0, 4, 4, '3.0')
1 registros insertados.
(246, 2, 3.0, 2, 2, '2.0')
1 registros insertados.
(247, 2, 3.0, 4, 4, '2.0')
1 registros insertados.
(248, 1, 3.0, 4, 4, '3.0')
1 registros insertados.
(249, 1, 3.0, 4, 2, '3.0')
1 registros insertados.
(250, 3, 4.0, 2, 3, '3.0')
1 registros insertados.
(251, 4, 3.0, 4, 2, '4.0')
1 registros insertados.
(252, 4, 3.0, 4, 3, '2.0')
1 registros insertados.
(253, 3, 4.0, 2, 4, '3.0')
1 registros insertados.
(254, 3, 3.0, 2, 1, '3.0')
1 registros insertados.
(255, 4, 3.0, 2, 4, '2.0')
1 registros insertados.
(256, 4, 4.0, 1, 1, '2.0')
1 registros insertados.
(257, 1, 3.0, 4, 2, '3.0')
1 registros insertados.
(258, 4, 3.0, 3, 4, '3.0')
1 registros insertados.
(259, 1, 3.0, 2, 1, '3.0')
1 registros insertados.
(260, 2, 3.0, 2, 3, '3.0')
1 registros insertados.
(261, 2, 3.0, 4, 3, '2.0')
1 registros insertados.
(262, 2, 3.0, 3, 1, '1.0')
1 registros insertados.
(263, 4, 3.0, 1, 2, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(264, 2, 4.0, 3, 4, '3.0')
1 registros insertados.
(265, 3, 3.0, 19, 3, '3.0')
1 registros insertados.
(266, 4, 3.0, 4, 3, '2.0')
1 registros insertados.
(267, 3, 4.0, 4, 2, '3.0')
1 registros insertados.
(268, 3, 3.0, 3, 2, '2.0')
1 registros insertados.
(269, 2, 3.0, 3, 4, '3.0')
1 registros insertados.
(270, 4, 4.0, 4, 4, '2.0')
1 registros insertados.
(271, 4, 4.0, 3, 4, '3.0')
1 registros insertados.
(272, 4, 4.0, 3, 4, '1.0')
1 registros insertados.
(273, 3, 4.0, 1, 4, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(274, 4, 3.0, 2, 3, '3.0')
1 registros insertados.
(275, 3, 4.0, 1, 3, '2.0')
1 registros insertados.
(276, 2, 3.0, 12, 1, '4.0')
1 registros insertados.
(277, 3, 3.0, 2, 2, '2.0')
1 registros insertados.
(278, 3, 3.0, 3, 3, '3.0')
1 registros insertados.
(279, 3, 4.0, 3, 4, '3.0')
1 registros insertados.
(280, 4, 3.0, 4, 4, '4.0')
1 registros insertados.
(281, 2, 3.0, 2, 1, '3.0')
1 registros insertados.
(282, 3, 4.0, 2, 4, '1.0')
1 registros insertados.
(283, 3, 3.0, 4, 1, '3.0')
1 registros insertados.
(284, 2, 3.0, 4, 3, '2.0')
1 registros insertados.
(285, 2, 3.0, 4, 4, '3.0')
1 registros insertados.
(286, 2, 3.0, 4, 3, '3.0')
1 registros insertados.
(287, 2, 3.0, 4, 4, '2.0')
1 registros insertados.
(288, 1, 3.0, 2, 1, '2.0')
1 registros insertados.
(289, 4, 3.0, 4, 1, '1.0')
1 registros insertados.
(290, 4, 3.0, 4, 1, '3.0')
1 registros insertados.
(291, 3, 3.0, 4, 4, '3.0')
1 registros insertados.
(292, 4, 3.0, 4, 4, '3.0')
1 registros insertados.
(293, 3, 3.0, 3, 1, '4.0')
1 registros insertados.
(294, 1, 3.0, 1, 1, '4.0')
1 registros insertados.
(295, 3, 3.0, 1, 4, '4.0')
1 registros insertados.
(296, 3, 3.0, 1, 4, '3.0')
1 registros insertados.
(297, 4, 3.0, 4, 4, '3.0')
1 registros insertados.
(298, 2, 3.0, 27, 2, '2.0')
1 registros insertados.
(299, 4, 3.0, 3, 2, '3.0')
1 registros insertados.
(300, 2, 3.0, 1, 4, '2.0')
1 registros insertados.
(301, 2, 3.0, 2, 2, '2.0')
1 registros insertados.
(302, 4, 3.0, 2, 1, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(303, 4, 3.0, 2, 4, '3.0')
1 registros insertados.
(304, 4, 3.0, 4, 2, 'Unknown')
Error: 1366 (HY000): Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
Error Code: 1366
SQLSTATE: HY000
Message: Incorrect integer value: 'Unknown' for column 'work_life_balance' at row 1
(305, 4, 3.0, 2, 2, '2.0')
1 registros insertados.
(306, 4, 3.0, 3, 1, '3.0')
1 registros insertados.
(307, 4, 3.0, 4, 4, '3.0')
1 registros insertados.
(308, 4, 3.0, 1, 3, '2.0')
1 registros insertados.
(309, 4, 3.0, 2, 3, '2.0')
1 registros insertados.
(310, 3, 3.0, 3, 2, '4.0')
1 registros insertados.
(311, 1, 3.0, 2, 4, '2.0')
1 registros insertados.
(312, 2, 3.0, 2, 1, '3.0')
1 registros insertados.
(313, 2, 3.0, 4, 1, '3.0')
1 registros insertados.
(314, 1, 3.0, 3, 1, '3.0')
1 registros insertados.